
.navbar {
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(88, 198, 218), rgb(87, 109, 206), rgb(77, 170, 207));
    position: fixed;
    z-index: 1;
    width:100%;
}

.navbar-item{
    float: left;
    display: block; 
    padding: 20px;
}

.navbar-item-direita{
    color: white;
    text-decoration: none;
    padding: 20px;
    float: right;
    display: block;
    text-align: center;
}

.navbar-item-direita:hover{
    background-color: rgb(221, 221, 221);
    color: black;
  }

body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.texto-centralizado{
    text-align: center;
}

.container{
    padding: 0em;
    max-width:900px;
    min-height: 100vh;
    display: block;
}

.margin-auto{
    margin-left: auto;
    margin-right: auto;
}


.linha::after{
    content: "";
    clear:both;
    display: table;
}

.just{
    text-align: center;
}

.menu-principal {
    overflow: hidden;
    background-color: rgb(4, 11, 70);
    position: fixed;
    z-index: 1;
    width:100%;
}

.menu-item{
    color: rgb(131, 153, 51);
    font-family: 'Cute Font', cursive;    text-decoration: none;
    font-size: 1.7em;
    padding: 20px;
    float: left;
    display: block;
    text-align: center;
}

.img-fundo-1{
    background-image: url('./image/Frame\ 2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}